@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fredoka:wght@300..700&family=Gloria+Hallelujah&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --deep-earth-brown: #34190D; /* For headings and text*/
    --sand-beige: 214, 205, 185;/* For quiz box background*/
    --warm-taupe: #C5B29A;
    --desert-clay: #B4977A; /* For buttons and highlights*/
    --walnut-brown: #604A3A;/* footer background and subheadings*/
    --wrong-answer-red: #ff3333;/* For wrong answers*/
    --right-answer-green: #51bf83; /* For right answers*/
    --pale-stone: #BEB0A8; /* For body background / borders colour */
  }
  
  * {
   /* margin: 0;
    padding: 0;*/
    border: none;
  }
  html {
    font-size: 62.5%;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
  }
  

  
  

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--pale-stone) url("../images/background-map.png") center / 
    cover no-repeat fixed;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;

}

main {
   /* flex: 1 0 auto;*/
  }

h1, h2, h3{
    font-family: 'Gloria Hallelujah', cursive;
}

h1,
h2,
h3{
    margin-bottom: 1rem;
}
h1{
    font-size: 3.5rem;
    color: var(--deep-earth-brown);
    font-weight: 700;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--walnut-brown);
}
h3{
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--deep-earth-brown);
    margin-top: 2rem;
}
/* Header */
.site-header{
    display:flex; 
    align-items:center; 
    justify-content:space-between;
    padding: .75rem 1rem;
    background-color: rgba(var(--sand-beige), 0.85 );
    margin: 2rem;
    border-radius: 35px;
    box-shadow: 0 0 1rem 0.5rem;
    width: 80vw;
    
}
  .instructions{ 
      background-color: var(--desert-clay); 
      font-family: 'Gloria Hallelujah', cursive; 
      color: var(--deep-earth-brown); 
      z-index: 59;
      font-size: 3rem;
      font-weight: 500;
      border-radius: 35px;
      margin-bottom: 2rem;
      padding: 2rem;


  }
 
/* Utilities*/
.container-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--sand-beige), 0.85 );
    font-size: 1.5 rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 35px;
    box-shadow: 0 0 1rem 0.5rem;
    width: auto;
    /*max-width: 80rem;*/
    margin: 0 auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}
#start-quiz {
    line-height: 2;
}

/* Buttons, Labels and inputs*/

label {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: var(--deep-earth-brown);
  }
  

.btn{
    background-color:var(--warm-taupe);
    border: 2px solid;
    border-color:var(--desert-clay);
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1.2rem;
    color: var(--deep-earth-brown);
    width: auto;
    gap: 10px;
}


.btn-difficulty{
    padding: 1rem 2rem;
    background-color: var(--warm-taupe);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-difficulty.active{
    background-color: var(--deep-earth-brown);
    color: var(--warm-taupe);
    border: none;

}

.btn-difficulty:hover{
    cursor: pointer;
    background-color: var(--walnut-brown);
    color: var(--warm-taupe);

}

.btn-choose-answer {
    display: grid;
    grid-template-columns: repeat(2, minmax(9rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

  .btn-option {
    min-width: 35vw;
    padding: 1rem;
  }

  /* Question area styling*/
  .row{
      display: table;
      width:100%;
  }
  .column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }

  .fa-check {
    color: var(--right-answer-green);
  }
  
  .fa-x {
    color: var(--wrong-answer-red);
  }

  #loader {
    border: 16px solid var(--deep-earth-brown);
    border-top: 16px solid var(--pale-stone);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  