@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fredoka:wght@300..700&family=Gloria+Hallelujah&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --deep-earth-brown: #34190D; /* For headings and text*/
    --sand-beige:#D6CDB9;/* For quiz box background*/
    --warm-taupe: #C5B29A;
    --desert-clay: #B4977A; /* For buttons and highlights*/
    --walnut-brown: #604A3A;/* footer background and subheadings*/
    --wrong-answer-red: #ff3333;/* For wrong answers*/
    --right-answer-green: #51bf83; /* For right answers*/
    --pale-stone: #BEB0A8; /* For body background borders */
  }
  
  * {
    margin: 0;
    padding: 0;
    border: none;
  }


body{
    background: var(--pale-stone) url("../images/background-map.jpg") center / cover no-repeat fixed;
    font-family: 'Poppins', sans-serif;

}
h1, h2{
    font-family: 'Gloria Hallelujah', cursive;
}

